
.latest_teaser_box {
  padding: 0 8px 4px;
  text-align: left;
}

.border_box {
  border-left: 1px solid #e8e8e8;
  margin-left: 5px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.deck {
  color: #333;
  font-family: "Sueca Text", arial;
  font-size: 18px;
  padding: 0;
  margin-top: 0.5em;
  line-height: 22px;
}

.headline {
  font-family: "SuecaWeb Hd", serif;
  font-weight: 700;
  margin: 8px 0 8px 0;
  padding: 0;
}

.meta_container {
  text-align: left;
  display: block;
}

.meta_time {
  padding-right: 8px;
  color: #f30;
  font-weight: 700;
}

.meta_time::before {
  content: '';
  display: inline-block;
  border-radius: 100%;
  background: #f30;
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.meta_category {
  color: #ccc;
  text-transform: uppercase;
  padding-left: 8px;
}

.meta_divider {
  border-radius: 100%;
  display:inline-block;
  content: '';
  background: #f30;
  width: 4px;
  height: 4px;
  margin-bottom: 3px;
}